node_modules/
frontend/node_modules/
frontend/dist/
uploads/

# Laravel
backend/.env
backend/vendor/
backend/storage/logs/*

# Jangan ignore folder cache, hanya isinya
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitkeep